// Widescreen
@include mediaXl {
  #work {
    .projects {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  #work {
    .projects {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Tablets and small laptops
@include mediaMd {
  main#home {
    align-items: center;
    text-align: center;

    h1.lg-heading {
      margin-top: 10vh;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  .menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background-image: $portrait-image;
      width: 150px;
      height: 150px;
    }
  }

  #about {
    .about-info {
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "job2"
        "job3";

      grid-template-columns: 1fr;
    }
  }

  #work {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2.25rem;
  }
  header {
    .menu {
      opacity: 1;
    }

    .menu-nav {
      height: 65vh;
    }

    .menu-branding {
      height: 35vh;
      .portrait {
        width: 120px;
        height: 120px;
      }
    }
  }

  #home {
    .lg-heading {
      font-size: 3rem;
      // margin-top: 15vh;
    }
    .sm-heading {
      font-size: 1.25rem;
    }

    .icons {
      margin-top: 7vh;
      display: grid;
      grid-gap: 12px;
      grid-template-columns: repeat(3, 1fr);

      i {
        font-size: 3rem;
      }
    }
  }

  #about {
    padding: 2.25rem;

    h1.lg-heading {
      text-align: center;
      font-size: 2.75rem;
    }

    h2.sm-heading {
      display: none;
    }

    div.about-info {
      margin-top: 5vh;

      .bio {
        font-size: 1.125rem;
      }

      img.bio-image {
        width: 190px;
        height: 190px;
      }
    }
  }

  #work {
    h1.lg-heading {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    h2.sm-heading {
      font-size: 1.25rem;
    }
    .projects {
      grid-template-columns: 1fr;

      .item {
        margin: 1rem 0;
      }
    }
  }
}
